<% include base_header.ejs %>
    <!-- Custom styles for this template -->
    <link href="/static/main.css" rel="stylesheet">
    <title>UOW Online STM - Study Complete</title>
  </head>
  <body>
    <noscript>
        <h1>JavaScript Required</h1>
        <p class="lead">This Website requires Javascript, i.e. it will not work without it.</p>
        <p class="lead">If you wish to use this site you will need to enable Javasript,
          however by enabling JavaScript, you are do so at your own risk.</p>
        <p class="lead">If you're cool with that, Here are the <a href="https://www.enable-javascript.com/">instructions to enable JavaScript</a> in your web browser.</p>
    </noscript>

    <div class="container">
	    <h1 id="pageTitle">UOW Online STM</h1>
	    <div class="starter-template">
		   	<p>Click this link if your browser doesnt redirect in 5 seconds... <a href="<%= qs.completionURL %>"><%= qs.completionURL %></a> or copy the 'Prolific Completion Code' code below and provide it to <a href='http://prolific.ac'>http://prolific.ac</a></p>
			<h4>Prolific Completion Code</h4>
			<div class="lead text-center">
				<p><%= qs.completionCode %></p>
			</div>
		</div>

<!-- End of Main Body -->    
    <script type="text/javascript"><!--
			setTimeout('Redirect()', 8000);
			function Redirect(){
	  			location.href = '<%= qs.completionURL %>';
			} // -->
		</script>
<% include base_footer.ejs %>
