<% include manage_header.ejs %>
<div class="container">
  <h1 id="pageTitle">UOW Online STM</h1>
  <h2>Research Guide</h2>
    <p>This page is for researchers only. It provides basic information about key features.</p>
  <h3>Creating a Study</h3>
    <h4>Study Name</h4>
    <h4>studybackgroundColor</h4>
      <p><em>Note:</em> This software is not internationalized, thus U.S.A spelling has been used for words relevent to software design</p>
    <h4>studyTextColor</h4>
    <h4>Pick Cards</h4>
    <h4>Shuffle deck order</h4>
    <h4>Shuffle All (Dealers Deck)</h4>
    <h4>setSizes Array</h4>
    <h4>refreshRateMS</h4>
    <h4>consentCopy</h4>
      <p>Copy; "something considered printable or newsworthy —used without an article" -  https://www.merriam-webster.com/dictionary/copy</p>
    <h4>instructionCopy</h4>
      <p>Copy; "something considered printable or newsworthy —used without an article" -  https://www.merriam-webster.com/dictionary/copy</p>
    <h4>completionCode</h4>
  <h3>Duplicating a Study</h3>
  <h3>Deleting a Study</h3>
  <h3>Pre-Flight - Testing a Study outside Prolific</h3>
  

  <div class="container">
<!-- End of Main Body -->
<% include base_footer.ejs %>
