/* Styling - /ostm/static/main.css
-------------------------------------------------- */
#pageContent { 
  box-sizing: border-box;
  background-color: rgb(121, 149, 207);
  border-style:solid;
  border-radius: 5px;
  border-color: rgb(76, 118, 201);
  border-width: 2px;
  padding:1.4em;
}