      <div id="headerContainer" class="row">
        <h1 id="pageTitle">UOW Short Term Memory (STM) Study</h1>
      </div>
      <div id="centerRow" class="row">
        <div id="pageLeft" class="col-sm"><!-- Left Gutter --></div>
        <div id="contentContainer" class="col-sm"><!-- Page Content --></div>
        <div id="pageRight" class="col-sm"><!-- Right Gutter --></div>
      </div>
      <div id="footerContainer" class="row">
        <footer class="footer">
          <p class="text-muted">Solution by <a href="http://www.jeffreybarron.com">jeffreybarron.com</a> for <br/>University of Wollongong. CRICOS Provider No: 00102E</p>
        </footer>
      </div>