<div class="outer">
  <div class="middle">
    <div id="studyStateContent" class="inner">

      <div id='start_DIV' class='studyButtons' style='display:none'>
        <div class='col-sm-4'>
          <!-- <span style='display:none' name='label' >label text</span> -->
        </div>
        <div class='col-sm-4'>
          <span id='focalPoint' class='target'>+</span>
        </div>
        <div class='col-sm-4'>
          <button id='start_btn' class='btn btn-success' onclick='startQuestions()' autofocus>Click to Start</button>
        </div>
      </div>

      <div id='show_DIV' class='studyButtons' style='display:none'>
        <div class='col-sm-4'>
          <!-- <span style='display:none' name='label'>label text</span> -->
        </div>
        <div class='col-sm-4'>
          <span id='target' class='target'>+</span>
        </div>
        <div class='col-sm-4'>
          <!-- <button style='display:none' id='placeholder_btn' class='btn btn-success' >pace holder</button> -->
        </div>
      </div>

      <div id='answer_DIV' class='studyButtons' style='display:none'>
        <div class='col-sm-4'>
          <span id='label' class='answerHelp'>Stimulus #<span id='stimulusCounter'>1</span></span>
        </div>
        <div class='col-sm-4'>
          <input id='answer' name='0' class='form-control answer' type='text' value='' autofocus>
        </div>
        <div class='col-sm-4'>
          <button id='submit_btn' class='btn btn-primary' onclick='updateAnswers()'>Submit</button>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Modal Section-->
<div id="modal" class="modal">
  <div id="modal-content" class="modal-content">
    <span id="modal-close" class="modal-close">&times;</span>
    <div id="modal-body">
      <p>Some text here.</p>
    </div>
  </div>
</div>