<% include header_manage.ejs %>
<div class="container">
  <h1 id="pageTitle">UOW Online STM</h1>
  <h2>Duplicate Study</h2>
  <form id="studyForm" class="form-group row" method="POST" action="/<%= rPath %>/study/duplicate">
    <div class="form-group" id="source_studyName_DIV">
      <label for="source_studyName">Study to Duplicate</label>
      <select class="form-control" id="source_studyName" name="source_studyName" value="" onchange="updateOnChange()">
        <% files.forEach(function(file) { %>
        <option><%= file.studyName %></option>
        <% }); %>
      </select>
      <small id="setSizesHelpBlock" class="form-text text-muted">
        Choose an existing study to duplicate.
      </small>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-sm-3" scope="col">Field</th>
          <th class="col-sm-9" scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Current studyName</td>
          <td id="currentStudyName"></td>
        </tr>
        <tr>
          <td>studybackgroundColor</td>
          <td id="studybackgroundColor"></td>
        </tr>
        <tr>
          <td>studyTextColor</td>
          <td id="studyTextColor"></td>
        </tr>
        <tr>
          <td>shuffleBlocks</td>
          <td id="shuffleBlocks"></td>
        </tr>
      </tbody>
    </table>
    <div class="form-group" id="deckConfiguration"></div>
    <div class="form-group" id="new_studyName_DIV">
      <label for="new_studyName">New Study Name</label>
      <input type="text" class="form-control" id="new_studyName" name="new_studyName"
        placeholder="[YYYY][MM][DD]-[6:userID]-[6:Desc][2:sequence]"
        pattern="^([0-9]{8}[-]{1}[a-zA-Z0-9]{1,6}[-]{1}[a-zA-Z0-9]{1,6}[0-9]{1,2})" required>
      <small id="setSizesHelpBlock" class="form-text text-muted">
        Max:24 Characters, A-Z, a-z, 0-9, '-'' symbol only.
        <br />syntax:[YYYY][MM][DD]-[6:userID]-[6:Desc][2:sequence]
      </small>
    </div>
    <div class="msgResult-error" id="msgResult" style="display:none"></div>
    <button type="submit" id="buttonCreate" class="btn btn-primary" onclick="studyDuplicate();return false">Duplicate
      Study</button>
  </form>

  <% include footer_doc.ejs %>
</div>
<!-- End of Main Body -->

<!-- Bootstrap Footer, includes jQuery -->
<% include footer_bootstrap.ejs %>

<!-- Pages specific Scripts -->
<script src="/<%= rPath %>public/js/studyDuplicate.js"></script>

<!-- Close out HTML -->
</body>

</html>