
    <footer class="footer">
      <div class="container">
        <p class="text-muted">software solutions by <a href="http://www.jeffreybarron.com">wwww.jeffreybarron.com</a></p>
      </div>
    </footer>

    </div><!-- /.container -->

	<script src="/static/test.js"></script>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  </body>
</html>