      <footer class="footer">
        <div class="container">
          <p class="text-muted">Solution by <a href="http://www.jeffreybarron.com">jeffreybarron.com</a> for <br/>University of Wollongong. CRICOS Provider No: 00102E</p>
        </div>
      </footer>
    </div><!-- /.container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </body>
</html>
