<% include base_header.ejs %>
    <!-- Custom styles for this template -->
    <link href="/static/main.css" rel="stylesheet">
    <title>UOW Online STM - Home</title>
  </head>
  <body>
    <div class="container">
	    <h1 id="pageTitle">UOW Online STM</h1>
	    <div class="starter-template">
	    	<p>This Website is accessed via <a href='http://prolific.ac'>http://prolific.ac</a>
		   	<p>Click this link if your browser doesnt redirect in 5 seconds...</p>
		</div>
		<script type="text/javascript"><!--
			setTimeout('Redirect()', 5000);
			function Redirect(){
	  			location.href = 'http://prolific.ac';
			} // -->
		</script>
		<footer class="footer">
	      <div class="container">
	        <p class="text-muted">software solutions by <a href="http://www.jeffreybarron.com">wwww.jeffreybarron.com</a></p>
	      </div>
	    </footer>
	
	</div><!-- /.container -->
	<script src="/static/test.js"></script>
<% include base_footer.ejs %>