<% include base_header.ejs %>
    <!-- Custom styles for this template -->
    <link href="/static/main.css" rel="stylesheet">
    <title>UOW Online STM - Home</title>
  </head>
  <body>
    <div class="container">
	    <h1 id="pageTitle">UOW Online STM</h1>
	    <div class="starter-template">
	    	<p>This Website is accessed via <a href='http://prolific.ac'>http://prolific.ac</a>
		   	<p>Click this link if your browser doesnt redirect in 5 seconds...</p>
		</div>
        <footer class="footer">
          <div class="container">
            <p class="text-muted">Solution by <a href="http://www.jeffreybarron.com">jeffreybarron.com</a> for </br>University of Wollongong. CRICOS Provider No: 00102E</p>
          </div>
        </footer>
    </div><!-- /.container -->
    <script type="text/javascript"><!--
      setTimeout('Redirect()', 5000);
      function Redirect(){
          location.href = 'http://prolific.ac';
      } // -->
    </script>
<% include base_footer.ejs %>
