<% include base_header.ejs %>
    <!-- Custom styles for this template -->
    <link href="/static/main.css" rel="stylesheet">
    <title>UOW Online STM - Preflight</title>
  </head>
  <body>
    <div class="container">
	    <h1 id="pageTitle">UOW Online STM</h1>
	    <h2>PreFlight (manual) test.</h2>
	    <div id="researcherCopy">
	    	<p>This page is for researchers to confirm their studies are properly configured.</p>
	    </div>
	    <div class="starter-template">
            <div class="form-group row">
                <label for="studyName" class="col-sm-2 col-form-label">Study Name</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="studyName" name="studyName" value="(Enter Study Name)"></input>
                </div>
        	</div>
	   	    <button id="" type="submit" class="btn btn-primary" onclick="executePreFlight()">Execute Test</button>
		</div>
		<footer class="footer">
	      <div class="container">
	        <p class="text-muted">Solution by <a href="http://www.jeffreybarron.com">jeffreybarron.com</a> for </br>University of Wollongong. CRICOS Provider No: 00102E</p>
	      </div>
	    </footer>
	</div><!-- /.container -->
	<script src="/static/test.js"></script> 
	<script type="text/javascript">
		function executePreFlight() {
			var studyName = document.getElementById("studyName").value;
			var sTestFlightParams = studyName + "?PROLIFIC_PID=GUID001&STUDY_ID=GUID002&SESSION_ID=GUID003";
			//console.log(sTestFlightParams);
			try {
				var sURL = '/consent/' + sTestFlightParams;
				window.location.href = sURL
			} catch (err) {
				consol.log("err" + err);
				return false;
			}
		}
	</script>
<% include base_footer.ejs %>