    <!-- Custom styles for this template -->
    <link href="/static/main.css" rel="stylesheet">
	 <title>UOW CogLab - 404 (Page Not Found)</title>
  </head>
  <body>
    <div class="container">
    <% include base_header.ejs %>
	    <h1 id="pageTitle">UOW Cog Lab - 404 Page not Found.</h1>
	    <div class="starter-template">
		   	<div class="lead text-center">
				<p><%= qs.err %></p>
			</div>
		</div>
	<% include base_footer.ejs %>
