<% include base_header.ejs %>
    <!-- Custom styles for this template -->
    <link href="static/main.css" rel="stylesheet">
    <title>UOW CogLab - Home</title>
  </head>
  <body>
    <div class="container">
      <h1 id="pageTitle">University of Wollongong</h1>
      <h2>School of Psychology - CogLab</h2>
	    <div class="starter-template">
	    	<p>This Website is accessed via <a href='http://prolific.ac'>http://prolific.ac</a>
		   	<p>Click this link if your browser doesnt redirect in 10 seconds...</p>
		  </div>

<!-- End of Main Body 
    <script type="text/javascript"><!--
      setTimeout('Redirect()', 10000);
      function Redirect(){
          location.href = 'http://prolific.ac';
      } // -->
    </script>
<% include base_footer.ejs %>
