<h4 id="pageTitle">This study is now complete.</h4>
<p>Your Prolific "Completion Code" is shown here in red, you can note it down or select and copy it.</p>
<div id="prolificCode" class="lead text-center">
  <p>[CODE]</p>
</div>
<p>Alternately, you can click Return to be Re-directed, or wait for the browser redirect in 30 seconds...</p>
    <div class="form-group">
      <!--<button id="back" type="button" class="btn btn-warning" value="back" >back</button>-->
      <button id="accept" type="button" class="btn btn-success" value="accept" autofocus>Return</button>
    </div>

</div>
