<!-- pageContent body -->
<p>To complete this study you MUST enable javascript, we recommend Chrome browser for the best experience</p>
<p>Minimum Browswer Requirements
  <ul>
    <li>Chrome 72+</li>
    <li>Firefox 65+</li>
    <li>Safari 12+ (IOS 12.1+)</li>
    <li>Opera 57+</li>
    <li>Edge 18+ (IE 11 and lower is NOT supported)</li>
  </ul>
</p>
<p>This study uses Pop-Ups to inform you of progress, they must not be blocked.</p>
<h2>Confirm\provide Participant Identification (PID)</h2>
<div class="starter-template">
  <form id="participantIDForm">
    <div class="form-group row">
      <label for="studyName" class="col-sm-3 col-form-label">Study Name</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" id="studyName" name="studyName" readonly />
        </div>
    </div>
    <div class="form-group row">
      <label for="PROLIFIC_PID" class="col-sm-3 col-form-label">Prolific PID</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" id="PROLIFIC_PID" name="PROLIFIC_PID"/>
        </div>
    </div>
    <div class="form-group">
      <button id="reject" type="button" class="btn btn-danger" value="reject">Reject</button>
      <button id="accept" type="button" class="btn btn-success" value="accept" >Accept</button>
    </div>
  </form>