<!-- Custom styles for this template -->
<link href="/public/css/main.css" rel="stylesheet">
<title>UOW CogLab - 404 (Page Not Found)</title>
</head>

<body>
  <div class="container">
    <% include base_header.ejs %>
    <div id="layoutStyles" style="display:none">
      <!-- Custom styles for this template -->
      <link href="public/css/main.css" rel="stylesheet">
    </div>
    <noscript>
      <h1>JavaScript Required</h1>
      <p class="lead">This Website requires Javascript, i.e. it will not work without it.</p>
      <p class="lead">If you wish to use this site you will need to enable Javasript,
        however by enabling JavaScript, you are do so at your own risk.</p>
      <p class="lead">If you're cool with that, Here are the <a href="https://www.enable-javascript.com/">instructions
          to
          enable JavaScript</a> in your web browser.</p>
    </noscript>

    <div id="page" class="container">
      <div id="headerContainer" class="row">
        <h2>UOW School of Psychology CogLab</h3>
          <h1 id="pageTitle">404 Page not Found.</h1>
      </div>
      <div id="centerRow" class="row">
        <div id="pageLeft" class="col-sm">
          <!-- Left Gutter -->
        </div>
        <div id="contentContainer" class="col-sm">
          <!-- Page Content -->
          <div class="starter-template">
            <p>I am not sure what you were trying to do? But this is not it!</p>
          </div>
          <!-- End Page Content -->
        </div>
        <div id="pageRight" class="col-sm">
          <!-- Right Gutter -->
        </div>
      </div>
      <div id="footerContainer" class="row">
        <footer class="footer">
          <p class="text-muted">Solution by <a href="http://www.jeffreybarron.com">jeffreybarron.com</a> for
            <br />University of Wollongong. CRICOS Provider No: 00102E</p>
        </footer>
      </div>

      <img class="logo" src="/public/images/uow.png" alt="University of Wollongong Australia">

    </div>

    <!-- Bootstrap core JavaScript and JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"></script>

</body>

</html>