<% include base_header.ejs %>
<!-- Custom styles for this template -->
<link href="/public/css/main.css" rel="stylesheet" type="text/css">
<title>UOW CogLab - 404 (Page Not Found)</title>
</head>

<body>
  <div class="container">
    <div id="page" class="container">
      <img class="logo" src="/public/images/uow.png" alt="University of Wollongong Australia">

      <div id="headerContainer" class="row">
        <h2>UOW School of Psychology CogLab</h3>
          <h1 id="pageTitle">404 Page not Found.</h1>
      </div>
      <div id="centerRow" class="row">
        <div id="pageLeft" class="col-sm">
          <!-- Left Gutter -->
        </div>
        <div id="contentContainer" class="col-sm">
          <!-- Page Content -->
          <div class="starter-template">
            <p>I am not sure what you were trying to do? But this is not it!</p>
          </div>
          <!-- End Page Content -->
        </div>
        <div id="pageRight" class="col-sm">
          <!-- Right Gutter -->
        </div>
      </div>
      <div id="footerContainer" class="row">

        <% include base_footer.ejs %>