<!-- Custom styles for this template -->
<link href="/<%= rPath %>/static/main.css" rel="stylesheet">

<h1 id="pageTitle">Online Short Term Memory (OSTM) Study</h1>
<div class="starter-template">
  <p>This Website is accessed via <a href='http://prolific.ac'>http://prolific.ac</a>
  <p>Click this link if your browser doesnt redirect in 10 seconds...</p>
</div>

<!-- End of Main Body -->
<script type="text/javascript"><!--
  setTimeout('Redirect()', 10000);
  function Redirect(){
      location.href = 'http://prolific.ac';
  } // -->
</script>
