/* BootStrap Stying
-------------------------------------------------- */
body {
  /* Margin bottom by footer height */
  background-color: #000000;
  color:white;
}

.container {
  position: relative;

  width: auto;
  max-width: 680px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  letter-spacing: 0px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.middle {
  display: table-cell;
  vertical-align: middle;
}
.inner {
  margin-left: auto;
  margin-right: auto;
  width: 680px;
  /*whatever width you want*/
}

.stimulus {
  /*padding: 3em;
  border-radius: 25px;
  border: 2px solid #73AD21;
  */
  text-align: center;
}
.answers {
  padding: 1em;
}
.startbutton {
  padding: 1em;
}

