<% include header_manage.ejs %>
  <div class="container">
      <h1 id="pageTitle">UOW Online STM</h1>
      <h2>Oh No!!!</h2>
      <p><em>Error:</em><%= err %></p>

  <div class="container">
<% include footer_doc.ejs %>
    </div>
<!-- End of Main Body -->

<!-- Bootstrap Footer, includes jQuery -->
<% include footer_bootstrap.ejs %>

<!-- Pages specific Scripts -->


<!-- Close out HTML -->
  </body>
</html>