<% include header_manage.ejs %>
<div class="container">
  <h1 id="pageTitle">UOW Online STM</h1>
  <h2>Research Guide</h2>
    <p>This page is for researchers only. It provides basic information about key features.</p>
  <h3>Creating a Study</h3>
    <h4>Syntax warnings</h4>
    <p><em>In this solution, you must follow the template and these rules strictly or your study will NOT work.</em></p>
    <ul>
      <li>Do NOT use single or double quotes ever; ‘ or “</li>
      <li>DO NOT use non-english characters</li>
      <li>YOU MAY safetly use character from the english alphabet, numbers and the minus symbol</li>
      <li>Arrays are comma delimited, but note, the last item in array has no closing comma at the end.</li>
      <li>{} represents a JSON object, containing key:value pairs or key:array pairs <a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Objects/JSON" target="_blank" >https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Objects/JSON</a></li>
      <ul>
        <li>“key”:”value”</li>
        <li>“key”:[1,2,3,]</li>
      </ul>
      <li>An array can contain JSON Objects,strings or numbers</li>
      <ul>
        <li>[“key”:[{“key”:”value”},1,”hello”,3,{“key”:”value”}]</li>
      </ul>
    </ul>

    <h4>Study Fields</h4>
    <table class="table table-striped">
      <thead>
        <th>Field Name</th>
        <th>Description</th>
        <th>Comment</th>
      </thead>
      <tbody>
        <tr>
          <td>studyName</td>
          <td>This is the name you will give the study in PROLIFIC</td>
          <td>
            <p>No Spaces or special characters, must be alphanumeric charaters only and less than 24 characters in lengeth.</p>
            <p>You may use minus - as a divider</p>
            <p>Recommended</p>
            <p>[international date]-[username]-[sequence]</p>
            <p>e.g</p>
            <p>20181117-SJR351-STM011a</p>
          </td>
        </tr>
        <tr>
          <td>studybackgoudColor</td>
          <td><p>The page background color for start, between sets and end of the study</p></td>
          <td></td>
        </tr>
        <tr>
          <td>refreshRateMS</td>
          <td><p>number of milliseconds between stimulus changes</p></td>
          <td><p>Must be a number, do not put it in quotes.</p></td>
        </tr>
        <tr>
          <td>shuffleDecks</td>
          <td>
            <p><em>false:</em> your decks will be presented in the order you list in the deckConfiguration key:array</p>
            <p><em>true:</em> your decks will be shuffled for everynew participant on every visit</p>
          </td>
          <td>
            <p>Must be a value or true or false only.</p>
            <p>Do not use quotes for this key:value</p> 
            <p>Lowercase only.</p>  
          </td>
        </tr>
        <tr>
          <td>shuffleAll</td>
          <td>
            <p><em>false:</em> Does not shuffle the dealers deck of all cards prior to dealing them into each stimulus set.</p>
            <p><em>true:</em> shuffles all cards in the dealers deck prior to dealing them into stimulus sets</p>
          </td>
          <td>
            <p>Must be a value or true or false only.</p>
            <p>Do not use quotes for this key:value</p> 
            <p>Lowercase only.</p> 
          </td>
        </tr>                        
        <tr>
          <td>setSizes</td>
          <td>
            <p>An array or numbers representing both how many sets you want to show the participant and the size of each set.</p>
          </td>
          <td>
            <p>This summation of numbers in the set size must equal the summation of pickQty from all decks in the deckConfiguration </p>
          </td>
        </tr>
        <tr>
          <td>deckConfiguration</td>
          <td>
            <p>An array of JSON objects containing 3 key:value pairs</p>
            <ul>
              <li>deckName</li>
              <li>pickQty</li>
              <li>sampleMode</li>
            </ul>
          </td>
          <td><p>Decks are wrapped in {} seperated by comma’s</p></td>
        </tr>
        <tr>
          <td>deckName</td>
          <td><p>The name of a file containing a list of stimuli</p></td>
          <td></td>
        </tr>
        <tr>
          <td>pickQty</td>
          <td><p> How many cards do you wish to use from this deck </p></td>
          <td></td>
        </tr>
        <tr>
          <td>sampleMode</td>
          <td>
            <p><em>sequential:</em> pick stimuli in the order provided within the [deckName].json file</p>
            <p><em>simple:</em> Random Sample (no replacement) shuffle the deck and pick the cards off the front of the deck removing them as you go from [deckName].json file, ie no card can be picked twice.</p>
            <p><em>replacement:</em> Random Sample (with replacement), Pick as many cards as needed from random locations from [deckName].json</p>
          </td>
          <td>
            <p>Lowercase words you have only three options and they must be enclosed in double quotes<br />
              “sequential”<br />
              “simple”<br />
              Or <br />
              “replace”</p>
            <p>Shuffle loosely based on <em>Fisher–Yates shuffle</em>
            <p>Simple sample loosely based on <em>Sunter, A. B. (1977)</em></p> 
          </td>
        </tr>
      </tbody>
    </table>                                                       

      </tbody>
    </table>

    <h4>consentCopy</h4>
      <p>Copy; "something considered printable or newsworthy —used without an article" -  <a href="https://www.merriam-webster.com/dictionary/copy" action="_blank">https://www.merriam-webster.com/dictionary/copy</a></p>
      <p>This is text you need to write to request informed consent.</p>
      <p>You can used simple html tags such as heading tags, paragraph, emphasis, bold, underline, lists</p>
    <h4>instructionCopy</h4>
      <p>Copy; "something considered printable or newsworthy —used without an article" - <a href="https://www.merriam-webster.com/dictionary/copy" action="_blank">https://www.merriam-webster.com/dictionary/copy</a></p>
      <p>This text will tell the participant what you want them to know prior to the test.</p>
      <p>You can used simple html tags such as heading tags, paragraph, emphasis, bold, underline, lists</p>
    <h4>completionCode</h4>
  <h3>Duplicating a Study</h3>
  <p>This Function assists in running a test-fire (with a limited participant set) on Prolific, if successful you would duplicate the study, changing only the name.</p>
  <p>When Duplicating a study after a test-fire it is recommended to increment the last two numerals [sequence] in the study name</p>
  <h3>Deleting a Study</h3>
    <p>You must ask your supervisor to delete files once they are created.</p>
  <h3>Retrieving Study Results</h3>
    <p>You must ask your supervisor to retrieve your study results.</p>
  <h3>Pre-Flight - Testing a Study outside Prolific</h3>
    <p>You have created stimulus files (Decks), and study Configuration on www.uowcoglab.org.</p>
    <p>Before setting up your prolific study you can run a Pre-Flight test to validate the configuration. <em><b>This is highly recommended</b></em></p>
  
<% include footer_doc.ejs %>
    </div>
<!-- End of Main Body -->

<!-- Bootstrap Footer, includes jQuery -->
<% include footer_bootstrap.ejs %>

<!-- Pages specific Scripts -->

<!-- Close out HTML -->
  </body>
</html>