<% include manage_header.ejs %>
  <div class="container">
      <h1 id="pageTitle">UOW Online STM</h1>
      <h2>Study Management Home</h2>
      <p>This page is for researchers only. It provides convieniant links to several study management features</p>
      <p><em>Note:</em>Studies can only be deleted by the administrator.</p>

  <div class="container">
<!-- End of Main Body -->
<% include manage_footer.ejs %>
