<% include header_manage.ejs %>
    <div class="container">
      <h1 id="pageTitle">UOW Online STM</h1>
      <h2>Create a New Study</h2>
      <form id="studyForm" class="form-group row" >
        <div class="form-group" title="studyName" >
          <label for="studyName">StudyName</label>
          <input
            type="text" class="form-control"
            id="studyName" name="studyName"
            placeholder="[YYYY][MM][DD]-[&lt;6:userID]-[&lt;12:Desc][2:sequence]"
            pattern="^([0-9]{8}[-]{1}[a-zA-Z0-9]{1,6}[-]{1}[a-zA-Z0-9]{1,12}[0-9]{1,2})"
            required>
          <small id="setSizesHelpBlock" class="form-text text-muted">
            REQUIRED: Max 24 Characters, A-Z, a-z, 0-9, '-'' symbol only.
            <br />syntax:[YYYY][MM][DD]-[&lt;6:userID]-[&lt;12:Desc][2:sequence]
          </small>
        </div>
        <div class="form-group" title="completionCode">
          <label for="completionCode">completionCode</label>
          <input
            type="text" class="form-control"
            id="completionCode" name="completionCode"
            required>
          <small id="setSizesHelpBlock" class="form-text text-muted">
            <p>Prolific Completion Code</p>
          </small>
        </div>
        <div class="form-group" title="redirectTimer">
          <label for="redirectTimer">redirectTimer (Milliseconds)</label>
          <input
            type="text" class="form-control"
            id="redirectTimer" name="redirectTimer"
            required>
          <small id="setSizesHelpBlock" class="form-text text-muted">
            <p>Redirect Timer, sets the wait time before auto redirect at conclusion of study</p>
            <p>A value exceeding 60,000 milliseconds (10 minutes) will disable redirect.</p>
          </small>
        </div>                 
        <div class="form-group" title="completionURL">
          <label for="completionURL">completionURL</label>
          <input
            type="text" class="form-control"
            id="completionURL" name="completionURL"
            required value="https://app.prolific.ac/submissions/complete?cc=(APPEND completionCode)">
          <small id="setSizesHelpBlock" class="form-text text-muted">
            <p>e.g. https://app.prolific.ac/submissions/complete?cc=</p>
            <p>Prolific Completion URL: At the end of the study, participants will be issued the completionCode above, the redirectTimer will fire an event to automatically redirect the particpants browser away from the site to this URL</p>
          </small>
        </div>         
        <div class="form-group" title="studybackgroundColor">
            <label for="studybackgroundColor">Starting backgroundColor</label>
            <select class="form-control" id="studybackgroundColor" name="studybackgroundColor" value="">
              <option selected="selected">Black</option>
              <option>AliceBlue</option>
              <option>AntiqueWhite</option>
              <option>Aqua</option>
              <option>Aquamarine</option>
              <option>Azure</option>
              <option>Beige</option>
              <option>Bisque</option>
              <option>BlanchedAlmond</option>
              <option>Blue</option>
              <option>BlueViolet</option>
              <option>Brown</option>
              <option>Burlywood</option>
              <option>CadetBlue</option>
              <option>Chartreuse</option>
              <option>Chocolate</option>
              <option>Coral</option>
              <option>CornflowerBlue</option>
              <option>Cornsilk</option>
              <option>Crimson</option>
              <option>Cyan</option>
              <option>DarkBlue</option>
              <option>DarkCyan</option>
              <option>DarkGoldenrod</option>
              <option>DarkGray</option>
              <option>DarkGreen</option>
              <option>DarkKhaki</option>
              <option>DarkMagenta</option>
              <option>DarkOliveGreen</option>
              <option>DarkOrange</option>
              <option>DarkOrchid</option>
              <option>DarkRed</option>
              <option>DarkSalmon</option>
              <option>DarkSeaGreen</option>
              <option>DarkSlateBlue</option>
              <option>DarkSlateGray</option>
              <option>DarkTurquoise</option>
              <option>DarkViolet</option>
              <option>DeepPink</option>
              <option>DeepSkyBlue</option>
              <option>DimGray</option>
              <option>DodgerBlue</option>
              <option>FireBrick</option>
              <option>FloralWhite</option>
              <option>ForestGreen</option>
              <option>Fuchsia</option>
              <option>Gainsboro</option>
              <option>GhostWhite</option>
              <option>Gold</option>
              <option>Goldenrod</option>
              <option>Gray</option>
              <option>Green</option>
              <option>GreenYellow</option>
              <option>Honeydew</option>
              <option>HotPink</option>
              <option>IndianRed</option>
              <option>Indigo</option>
              <option>Ivory</option>
              <option>Khaki</option>
              <option>Lavender</option>
              <option>LavenderBlush</option>
              <option>LawnGreen</option>
              <option>LemonChiffon</option>
              <option>LightBlue</option>
              <option>LightCoral</option>
              <option>LightCyan</option>
              <option>LightGoldenrodYellow</option>
              <option>LightGreen</option>
              <option>LightGrey</option>
              <option>LightPink</option>
              <option>LightSalmon</option>
              <option>LightSeaGreen</option>
              <option>LightskyBlue</option>
              <option>LightSlateGray</option>
              <option>LightsteelBlue</option>
              <option>LightYellow</option>
              <option>Lime</option>
              <option>LimeGreen</option>
              <option>Linen</option>
              <option>Magenta</option>
              <option>Maroon</option>
              <option>MediumAquamarine</option>
              <option>MediumBlue</option>
              <option>MediumOrchid</option>
              <option>MediumPurple</option>
              <option>MediumSeaGreen</option>
              <option>MediumSlateBlue</option>
              <option>MediumSpringGreen</option>
              <option>MediumTurquoise</option>
              <option>MediumVioletRed</option>
              <option>MidnightBlue</option>
              <option>Mintcream</option>
              <option>MistyRose</option>
              <option>Moccasin</option>
              <option>NavajoWhite</option>
              <option>Navy</option>
              <option>Oldlace</option>
              <option>Olive</option>
              <option>OliveDrab</option>
              <option>Orange</option>
              <option>OrangeRed</option>
              <option>Orchid</option>
              <option>PaleGoldenrod</option>
              <option>PaleGreen</option>
              <option>PaleTurquoise</option>
              <option>PaleVioletRed</option>
              <option>PapayaWhip</option>
              <option>Peachpuff</option>
              <option>Peru</option>
              <option>Pink</option>
              <option>Plum</option>
              <option>PowderBlue</option>
              <option>Purple</option>
              <option>Red</option>
              <option>RosyBrown</option>
              <option>RoyalBlue</option>
              <option>SaddleBrown</option>
              <option>Salmon</option>
              <option>SandyBrown</option>
              <option>SeaGreen</option>
              <option>SeaShell</option>
              <option>Sienna</option>
              <option>Silver</option>
              <option>SkyBlue</option>
              <option>SlateBlue</option>
              <option>SlateGray</option>
              <option>Snow</option>
              <option>SpringGreen</option>
              <option>SteelBlue</option>
              <option>Tan</option>
              <option>Teal</option>
              <option>Thistle</option>
              <option>Tomato</option>
              <option>Turquoise</option>
              <option>Violet</option>
              <option>Wheat</option>
              <option>White</option>
              <option>WhiteSmoke</option>
              <option>Yellow</option>
              <option>YellowGreen</option>
            </select>
            <small id="setSizesHelpBlock" class="form-text text-muted">
              Choose from the list of Websafe Colours.
            </small>
        </div>
        <div class="form-group" title="studyTextColor">
            <label for="studyTextColor">Starting TextColor</label>
            <select class="form-control" id="studyTextColor" name="studyTextColor" value=""">
              <option>Black</option>
              <option>AliceBlue</option>
              <option>AntiqueWhite</option>
              <option>Aqua</option>
              <option>Aquamarine</option>
              <option>Azure</option>
              <option>Beige</option>
              <option>Bisque</option>
              <option>BlanchedAlmond</option>
              <option>Blue</option>
              <option>BlueViolet</option>
              <option>Brown</option>
              <option>Burlywood</option>
              <option>CadetBlue</option>
              <option>Chartreuse</option>
              <option>Chocolate</option>
              <option>Coral</option>
              <option>CornflowerBlue</option>
              <option>Cornsilk</option>
              <option>Crimson</option>
              <option>Cyan</option>
              <option>DarkBlue</option>
              <option>DarkCyan</option>
              <option>DarkGoldenrod</option>
              <option>DarkGray</option>
              <option>DarkGreen</option>
              <option>DarkKhaki</option>
              <option>DarkMagenta</option>
              <option>DarkOliveGreen</option>
              <option>DarkOrange</option>
              <option>DarkOrchid</option>
              <option>DarkRed</option>
              <option>DarkSalmon</option>
              <option>DarkSeaGreen</option>
              <option>DarkSlateBlue</option>
              <option>DarkSlateGray</option>
              <option>DarkTurquoise</option>
              <option>DarkViolet</option>
              <option>DeepPink</option>
              <option>DeepSkyBlue</option>
              <option>DimGray</option>
              <option>DodgerBlue</option>
              <option>FireBrick</option>
              <option>FloralWhite</option>
              <option>ForestGreen</option>
              <option>Fuchsia</option>
              <option>Gainsboro</option>
              <option>GhostWhite</option>
              <option>Gold</option>
              <option>Goldenrod</option>
              <option>Gray</option>
              <option>Green</option>
              <option>GreenYellow</option>
              <option>Honeydew</option>
              <option>HotPink</option>
              <option>IndianRed</option>
              <option>Indigo</option>
              <option>Ivory</option>
              <option>Khaki</option>
              <option>Lavender</option>
              <option>LavenderBlush</option>
              <option>LawnGreen</option>
              <option>LemonChiffon</option>
              <option>LightBlue</option>
              <option>LightCoral</option>
              <option>LightCyan</option>
              <option>LightGoldenrodYellow</option>
              <option>LightGreen</option>
              <option>LightGrey</option>
              <option>LightPink</option>
              <option>LightSalmon</option>
              <option>LightSeaGreen</option>
              <option>LightskyBlue</option>
              <option>LightSlateGray</option>
              <option>LightsteelBlue</option>
              <option>LightYellow</option>
              <option>Lime</option>
              <option>LimeGreen</option>
              <option>Linen</option>
              <option>Magenta</option>
              <option>Maroon</option>
              <option>MediumAquamarine</option>
              <option>MediumBlue</option>
              <option>MediumOrchid</option>
              <option>MediumPurple</option>
              <option>MediumSeaGreen</option>
              <option>MediumSlateBlue</option>
              <option>MediumSpringGreen</option>
              <option>MediumTurquoise</option>
              <option>MediumVioletRed</option>
              <option>MidnightBlue</option>
              <option>Mintcream</option>
              <option>MistyRose</option>
              <option>Moccasin</option>
              <option>NavajoWhite</option>
              <option>Navy</option>
              <option>Oldlace</option>
              <option>Olive</option>
              <option>OliveDrab</option>
              <option>Orange</option>
              <option>OrangeRed</option>
              <option>Orchid</option>
              <option>PaleGoldenrod</option>
              <option>PaleGreen</option>
              <option>PaleTurquoise</option>
              <option>PaleVioletRed</option>
              <option>PapayaWhip</option>
              <option>Peachpuff</option>
              <option>Peru</option>
              <option>Pink</option>
              <option>Plum</option>
              <option>PowderBlue</option>
              <option>Purple</option>
              <option>Red</option>
              <option>RosyBrown</option>
              <option>RoyalBlue</option>
              <option>SaddleBrown</option>
              <option>Salmon</option>
              <option>SandyBrown</option>
              <option>SeaGreen</option>
              <option>SeaShell</option>
              <option>Sienna</option>
              <option>Silver</option>
              <option>SkyBlue</option>
              <option>SlateBlue</option>
              <option>SlateGray</option>
              <option>Snow</option>
              <option>SpringGreen</option>
              <option>SteelBlue</option>
              <option>Tan</option>
              <option>Teal</option>
              <option>Thistle</option>
              <option>Tomato</option>
              <option>Turquoise</option>
              <option>Violet</option>
              <option>Wheat</option>
              <option selected="selected">White</option>
              <option>WhiteSmoke</option>
              <option>Yellow</option>
              <option>YellowGreen</option>
            </select>
            <small id="studyTextColorHelpBlock" class="form-text text-muted">
              Choose from the list of Websafe Colours.
            </small>
        </div>
        <div class="form-group" title="consentCopy">
          <label for="consentCopy">consentCopy:</label>
          <textarea
            name="consentCopy" id="consentCopy"
            class="form-control" rows="5"
            value="" required></textarea>
        </div>
        <div class="form-group" title="instructionCopy">
          <label for="instructionCopy">instructionCopy:</label>
          <textarea
            name="instructionCopy" id="instructionCopy"
            class="form-control" rows="5"
            value="" required></textarea>
        </div>        
        <div class="form-group" title="pickCards">
          <label>Stimuli Configuration</label>
          <table id="pickCards_table" class="table table-responsive-sm table-striped w-auto">
            <thead>
              <tr>
                <th class="col-sm-1">Block</th>
                <th class="col-sm-1">Stimulus File</th>
                <th class="col-sm-1">SetSize Array</th>
                <th class="col-sm-1">Refresh Rate (MS)</th>
                <th class="col-sm-1">Shuffle Mode</th>
                <th class="col-sm-7">Block PopUp</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input type="text" class="form-control" name="block" value="0" readonly>
                </td>
                <td>
                  <select class="form-control" name="stimulusFile" value="prac3letter12.json">
                    <option selected>prac3letter12.json</option>
                    <% files.forEach(function(file) { %>
                      <option><%= file.deckName %></option>
                    <% }); %>
                  </select>
                </td>
                <td>
                  <input type="text" class="form-control" name="setSizes" value="2,2" required>
                </td>
                <td>
                  <input type="text" class="form-control" name="refreshRateMS" value="1000" required>
                </td>
                <td>
                    <select class="form-control" name="shuffleMode" value="">
                      <option value="no">No Shuffle</option>
                      <option value="within">within, stimuli within each set</option>
                      <option value="sets">sets, the set order</option>
                      <option value="across">across, stimuli across sets in this block</option>
                    </select>
                </td>
                <td>
                  <textarea name="blockPopUp" class="form-control" rows="1" id="0"
                    value="" required>
                    
<h3 style="text-align: center;"><span style="color: #27ae60; font-family: verdana, geneva, sans-serif;">You have completed the practice session!</span></h3>
<hr />
<p><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;">After closing this message the study will begin.</span></p>
<p><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;">Please pay careful attention and avoid distractions, <em>if safe to do so</em>.&nbsp;</span></p>
<p><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;">Press 'X' at the top right of this message, to close this message.&nbsp;</span></p>
                    
                    </textarea>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td class="col-sm-1"><em class="design-time">design-time</em><br />Played sequentially</td>
                <td class="col-sm-1"><em class="design-time">design-time</em><br />deckName</td>
                <td class="col-sm-1"><em class="design-time">design-time</em><br />e.g. 8,8,8,8,8</td>
                <td class="col-sm-1"><em class="run-time">run-time</em><br />Milliseconds between stimuli</td>
                <td class="col-sm-1"><em class="run-time">run-time</em><br />No, within, sets, or across</td>
                <td class="col-sm-7"><em class="run-time">run-time</em><br />PopUp shown after block</em>(Not a Popup Blocker!)</td>
              </tr>
            </tfoot>
          </table>
          <div>
            <button type="button" class="btn btn-primary" id="addRow">Add Row</button>
          </div>
        </div>  
        <div class="form-check" title="shuffleBlocks">
          <label class="form-check-label" for="shuffleBlocks">
            Shuffle Block order<em class="run-time"> at run-time</em></label>
          <br /><small>Note: Block Zero (0) is always used as the 'Practice' block and is not included in the shuffle.</small>
          <p>
            <input type="radio" class="form-check-input" name="shuffleBlocks"
              value="true"> true
            <input type="radio" class="form-check-input" name="shuffleBlocks"
              value="false" checked> false
          </p>
        </div>
      </form>
      <div id="msgResult" class="msgResult-error" style="display:none"></div>
      <div><button type="button" class="btn btn-primary" id="studyCreate">Create Study</button></div>
<% include footer_doc.ejs %>
    </div>
<!-- End of Main Body -->

<!-- Bootstrap Footer, includes jQuery -->
<% include footer_bootstrap.ejs %>

<!-- Pages specific Scripts -->
  <script src="/<%= rPath %>/static/tinymce/tinymce.min.js"></script>
  <script src="/<%= rPath %>/static/tinymce/jquery.tinymce.min.js"></script>

  <script src="/<%= rPath %>/static/studyCreate.js"></script>

  <!-- <script>tinymce.init({ selector: '#instructionCopy' });</script> -->

<!-- Close out HTML -->
  </body>
</html>

