<% include manage_header.ejs %>
    <div class="container">
      <h1 id="pageTitle">UOW Online STM</h1>
      <h2>Create a New Study</h2>
        <form id="studyForm" class="form-group row" >
            <div class="form-group" id="studyName_DIV" >
              <label for="studyName">StudyName</label>
              <input
                type="text" class="form-control"
                id="studyName" name="studyName"
                placeholder="[YYYY][MM][DD]-[6:userID]-[6:Desc][2:sequence]"
                pattern="^([0-9]{8}[-]{1}[a-zA-Z0-9]{1,6}[-]{1}[a-zA-Z0-9]{1,6}[0-9]{1,2})"
                required>
              <small id="setSizesHelpBlock" class="form-text text-muted">
                Max:24 Characters, A-Z, a-z, 0-9, '-'' symbol only.
                <br />syntax:[YYYY][MM][DD]-[6:userID]-[6:Desc][2:sequence]
              </small>
            </div>

            <div class="form-group" id="studybackgroundColor_DIV">
              <label for="studybackgroundColor">studybackgroundColor</label>
              <select class="form-control" id="studybackgroundColor" name="studybackgroundColor" value="">
                <option selected="selected">Black</option>
                <option>AliceBlue</option>
                <option>AntiqueWhite</option>
                <option>Aqua</option>
                <option>Aquamarine</option>
                <option>Azure</option>
                <option>Beige</option>
                <option>Bisque</option>
                <option>BlanchedAlmond</option>
                <option>Blue</option>
                <option>BlueViolet</option>
                <option>Brown</option>
                <option>Burlywood</option>
                <option>CadetBlue</option>
                <option>Chartreuse</option>
                <option>Chocolate</option>
                <option>Coral</option>
                <option>CornflowerBlue</option>
                <option>Cornsilk</option>
                <option>Crimson</option>
                <option>Cyan</option>
                <option>DarkBlue</option>
                <option>DarkCyan</option>
                <option>DarkGoldenrod</option>
                <option>DarkGray</option>
                <option>DarkGreen</option>
                <option>DarkKhaki</option>
                <option>DarkMagenta</option>
                <option>DarkOliveGreen</option>
                <option>DarkOrange</option>
                <option>DarkOrchid</option>
                <option>DarkRed</option>
                <option>DarkSalmon</option>
                <option>DarkSeaGreen</option>
                <option>DarkSlateBlue</option>
                <option>DarkSlateGray</option>
                <option>DarkTurquoise</option>
                <option>DarkViolet</option>
                <option>DeepPink</option>
                <option>DeepSkyBlue</option>
                <option>DimGray</option>
                <option>DodgerBlue</option>
                <option>FireBrick</option>
                <option>FloralWhite</option>
                <option>ForestGreen</option>
                <option>Fuchsia</option>
                <option>Gainsboro</option>
                <option>GhostWhite</option>
                <option>Gold</option>
                <option>Goldenrod</option>
                <option>Gray</option>
                <option>Green</option>
                <option>GreenYellow</option>
                <option>Honeydew</option>
                <option>HotPink</option>
                <option>IndianRed</option>
                <option>Indigo</option>
                <option>Ivory</option>
                <option>Khaki</option>
                <option>Lavender</option>
                <option>LavenderBlush</option>
                <option>LawnGreen</option>
                <option>LemonChiffon</option>
                <option>LightBlue</option>
                <option>LightCoral</option>
                <option>LightCyan</option>
                <option>LightGoldenrodYellow</option>
                <option>LightGreen</option>
                <option>LightGrey</option>
                <option>LightPink</option>
                <option>LightSalmon</option>
                <option>LightSeaGreen</option>
                <option>LightskyBlue</option>
                <option>LightSlateGray</option>
                <option>LightsteelBlue</option>
                <option>LightYellow</option>
                <option>Lime</option>
                <option>LimeGreen</option>
                <option>Linen</option>
                <option>Magenta</option>
                <option>Maroon</option>
                <option>MediumAquamarine</option>
                <option>MediumBlue</option>
                <option>MediumOrchid</option>
                <option>MediumPurple</option>
                <option>MediumSeaGreen</option>
                <option>MediumSlateBlue</option>
                <option>MediumSpringGreen</option>
                <option>MediumTurquoise</option>
                <option>MediumVioletRed</option>
                <option>MidnightBlue</option>
                <option>Mintcream</option>
                <option>MistyRose</option>
                <option>Moccasin</option>
                <option>NavajoWhite</option>
                <option>Navy</option>
                <option>Oldlace</option>
                <option>Olive</option>
                <option>OliveDrab</option>
                <option>Orange</option>
                <option>OrangeRed</option>
                <option>Orchid</option>
                <option>PaleGoldenrod</option>
                <option>PaleGreen</option>
                <option>PaleTurquoise</option>
                <option>PaleVioletRed</option>
                <option>PapayaWhip</option>
                <option>Peachpuff</option>
                <option>Peru</option>
                <option>Pink</option>
                <option>Plum</option>
                <option>PowderBlue</option>
                <option>Purple</option>
                <option>Red</option>
                <option>RosyBrown</option>
                <option>RoyalBlue</option>
                <option>SaddleBrown</option>
                <option>Salmon</option>
                <option>SandyBrown</option>
                <option>SeaGreen</option>
                <option>SeaShell</option>
                <option>Sienna</option>
                <option>Silver</option>
                <option>SkyBlue</option>
                <option>SlateBlue</option>
                <option>SlateGray</option>
                <option>Snow</option>
                <option>SpringGreen</option>
                <option>SteelBlue</option>
                <option>Tan</option>
                <option>Teal</option>
                <option>Thistle</option>
                <option>Tomato</option>
                <option>Turquoise</option>
                <option>Violet</option>
                <option>Wheat</option>
                <option>White</option>
                <option>WhiteSmoke</option>
                <option>Yellow</option>
                <option>YellowGreen</option>
              </select>
              <small id="setSizesHelpBlock" class="form-text text-muted">
                Choose from the list of Websafe Colours.
              </small>
            </div>

            <div class="form-group" id="studyTextColor_DIV">
              <label for="studyTextColor">studyTextColor</label>
              <select class="form-control" id="studyTextColor" name="studyTextColor" value=""">
                <option>Black</option>
                <option>AliceBlue</option>
                <option>AntiqueWhite</option>
                <option>Aqua</option>
                <option>Aquamarine</option>
                <option>Azure</option>
                <option>Beige</option>
                <option>Bisque</option>
                <option>BlanchedAlmond</option>
                <option>Blue</option>
                <option>BlueViolet</option>
                <option>Brown</option>
                <option>Burlywood</option>
                <option>CadetBlue</option>
                <option>Chartreuse</option>
                <option>Chocolate</option>
                <option>Coral</option>
                <option>CornflowerBlue</option>
                <option>Cornsilk</option>
                <option>Crimson</option>
                <option>Cyan</option>
                <option>DarkBlue</option>
                <option>DarkCyan</option>
                <option>DarkGoldenrod</option>
                <option>DarkGray</option>
                <option>DarkGreen</option>
                <option>DarkKhaki</option>
                <option>DarkMagenta</option>
                <option>DarkOliveGreen</option>
                <option>DarkOrange</option>
                <option>DarkOrchid</option>
                <option>DarkRed</option>
                <option>DarkSalmon</option>
                <option>DarkSeaGreen</option>
                <option>DarkSlateBlue</option>
                <option>DarkSlateGray</option>
                <option>DarkTurquoise</option>
                <option>DarkViolet</option>
                <option>DeepPink</option>
                <option>DeepSkyBlue</option>
                <option>DimGray</option>
                <option>DodgerBlue</option>
                <option>FireBrick</option>
                <option>FloralWhite</option>
                <option>ForestGreen</option>
                <option>Fuchsia</option>
                <option>Gainsboro</option>
                <option>GhostWhite</option>
                <option>Gold</option>
                <option>Goldenrod</option>
                <option>Gray</option>
                <option>Green</option>
                <option>GreenYellow</option>
                <option>Honeydew</option>
                <option>HotPink</option>
                <option>IndianRed</option>
                <option>Indigo</option>
                <option>Ivory</option>
                <option>Khaki</option>
                <option>Lavender</option>
                <option>LavenderBlush</option>
                <option>LawnGreen</option>
                <option>LemonChiffon</option>
                <option>LightBlue</option>
                <option>LightCoral</option>
                <option>LightCyan</option>
                <option>LightGoldenrodYellow</option>
                <option>LightGreen</option>
                <option>LightGrey</option>
                <option>LightPink</option>
                <option>LightSalmon</option>
                <option>LightSeaGreen</option>
                <option>LightskyBlue</option>
                <option>LightSlateGray</option>
                <option>LightsteelBlue</option>
                <option>LightYellow</option>
                <option>Lime</option>
                <option>LimeGreen</option>
                <option>Linen</option>
                <option>Magenta</option>
                <option>Maroon</option>
                <option>MediumAquamarine</option>
                <option>MediumBlue</option>
                <option>MediumOrchid</option>
                <option>MediumPurple</option>
                <option>MediumSeaGreen</option>
                <option>MediumSlateBlue</option>
                <option>MediumSpringGreen</option>
                <option>MediumTurquoise</option>
                <option>MediumVioletRed</option>
                <option>MidnightBlue</option>
                <option>Mintcream</option>
                <option>MistyRose</option>
                <option>Moccasin</option>
                <option>NavajoWhite</option>
                <option>Navy</option>
                <option>Oldlace</option>
                <option>Olive</option>
                <option>OliveDrab</option>
                <option>Orange</option>
                <option>OrangeRed</option>
                <option>Orchid</option>
                <option>PaleGoldenrod</option>
                <option>PaleGreen</option>
                <option>PaleTurquoise</option>
                <option>PaleVioletRed</option>
                <option>PapayaWhip</option>
                <option>Peachpuff</option>
                <option>Peru</option>
                <option>Pink</option>
                <option>Plum</option>
                <option>PowderBlue</option>
                <option>Purple</option>
                <option>Red</option>
                <option>RosyBrown</option>
                <option>RoyalBlue</option>
                <option>SaddleBrown</option>
                <option>Salmon</option>
                <option>SandyBrown</option>
                <option>SeaGreen</option>
                <option>SeaShell</option>
                <option>Sienna</option>
                <option>Silver</option>
                <option>SkyBlue</option>
                <option>SlateBlue</option>
                <option>SlateGray</option>
                <option>Snow</option>
                <option>SpringGreen</option>
                <option>SteelBlue</option>
                <option>Tan</option>
                <option>Teal</option>
                <option>Thistle</option>
                <option>Tomato</option>
                <option>Turquoise</option>
                <option>Violet</option>
                <option>Wheat</option>
                <option selected="selected">White</option>
                <option>WhiteSmoke</option>
                <option>Yellow</option>
                <option>YellowGreen</option>
              </select>
              <small id="studyTextColorHelpBlock" class="form-text text-muted">
                Choose from the list of Websafe Colours.
              </small>
            </div>

            <div class="form-group"  id="pickCards_DIV">
              <label>Pick Cards</label>
              <table class="table">
                <thead>
                  <tr>
                    <th>Deck Name (deckName)</th>
                    <th>Cards Available</th>
                    <th>Qty to Pick from this Deck (pickQty)</th>
                    <th>Sampling Method (sampleMode)</th>
                  </tr>
                </thead>
                <tbody>
                <% files.forEach(function(file) { %>
                  <tr>
                    <td><input style="display:none" type="text" name="deckConfiguration[deckName]" value="<%= file.deckName %>" /><%= file.deckName %></td>
                    <td><%= file.available %></td>
                    <td><input type="text" name="deckConfiguration[pickQty]" value=""/></td>
                    <td>
                      <select name="deckConfiguration[sampleMode]">
                        <option value="sequential" selected="selected">Sequential</option>
                        <option value="simple">Simple</option>
                        <option value="replace">Replace</option>
                      </select>
                    </td>
                  </tr>
                <% }); %>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="4">
                      <small id="setSizesHelpBlock" class="form-text text-muted">
                        Enter the number of cards you want from each deck, you value must not exceed available cards.
                      </small>
                    </td>
                  </tr>
                </tfoot>
              <table>

            </div>
            <div class="form-check" id="shuffleDecks_DIV">
              <label class="form-check-label" for="shuffleDecks">Shuffle deck order</label>
              <p>
                <input type="radio" class="form-check-input" name="shuffleDecks"
                  id="shuffleDecks1" value="true"> true
                <input type="radio" class="form-check-input" name="shuffleDecks"
                  id="shuffleDecks2" value="false" checked> false
              </p>
            </div>
            <div class="form-check" id="shuffleAll_DIV">
              <label class="form-check-label" for="shuffleDecks">ShuffleAll (Dealers Deck)</label>
              <p>
                <input
                  type="radio" class="form-check-input" name="shuffleAll"
                  id="shuffleAll1" value="true"> true
                <input
                  type="radio" class="form-check-input" name="shuffleAll"
                  id="shuffleAll2" value="false" checked> false
              </p>
            </div>
            <div class="form-group" id="setSizes_DIV">
              <label for="setSizes">setSizes Array</label>
              <input
                type="text" class="form-control"
                id="setSizes" name="setSizes"
                placeholder="required"
                pattern="[0-9]+(,[0-9]+)*"
                required>
              <small id="setSizesHelpBlock" class="form-text text-muted">
                Please enter a comma seperated array of integers e.g. 2,13,3,2 No postfix/prefix commas
              </small>
            </div>
            <div class="form-group" id="refreshMS_DIV">
              <label for="refreshRateMS">refreshRateMS</label>
              <input
                type="text" class="form-control"
                id="refreshRateMS" name="refreshRateMS"
                pattern="^([0-9]{1,5})$"
                placeholder="required"
                required>
              <small id="refreshRateMS" class="form-text text-muted">
                Numeral (integer) in milliseconds, up to 5 digits
              </small>
            </div>
            <div class="form-group" id="consentCopy_DIV">
              <label for="consentCopy">consentCopy:</label>
              <textarea
                name="consentCopy" id="consentCopy"
                class="form-control" rows="5"
                value="" required></textarea>
              <small id="setSizesHelpBlock" class="form-text text-muted">
                <small id="setSizesHelpBlock" class="form-text text-muted">
                  <br />Basic html tags are permitted:
                  <br />'h3', 'h4', 'h5', 'h6', 'blockquote', 'p', 'a', 'ul', 'ol', 'nl', 'li', 'b', 'i', 'strong', 'em', 'strike', 'code', 'hr', 'br', 'div','table', 'thead', 'caption', 'tbody', 'tr', 'th', 'td'
                </small>
              </small>
            </div>
            <div class="form-group" id="instructionCopy_DIV">
              <label for="instructionCopy">instructionCopy:</label>
              <textarea
                name="instructionCopy" id="instructionCopy"
                class="form-control" rows="5"
                value="" required></textarea>
              <small id="setSizesHelpBlock" class="form-text text-muted">
                <br />Basic html tags are permitted:
                <br />'h3', 'h4', 'h5', 'h6', 'blockquote', 'p', 'a', 'ul', 'ol', 'nl', 'li', 'b', 'i', 'strong', 'em', 'strike', 'code', 'hr', 'br', 'div','table', 'thead', 'caption', 'tbody', 'tr', 'th', 'td'
              </small>
            </div>
            <div class="form-group" id="completionCode_DIV">
              <label for="completionCode">completionCode</label>
              <input
                type="text" class="form-control"
                id="completionCode" name="completionCode"
                required>
              <small id="setSizesHelpBlock" class="form-text text-muted">
                Prolific Completion Code
              </small>
            </div>
            <div class="msgResult-error" id="msgResult" style="display:none"></div>
            <button type="submit" id="buttonCreate" class="btn btn-primary" onclick="createStudy();return false">Create Study</button>
      </form>

<!-- End of Main Body -->
    <script src="/<%= rPath %>/static/studyNew.js"></script>
<% include manage_footer.ejs %>
