<% include manage_header.ejs %>
  <div class="container">
      <h1 id="pageTitle">UOW Online STM</h1>
      <h2>Oh No!!!</h2>
      <p><em>Error:</em><%= err %></p>

  <div class="container">
<!-- End of Main Body -->
<% include manage_footer.ejs %>