<% include header_manage.ejs %>
  <div class="container">
      <h1 id="pageTitle">UOW Online STM</h1>
      <h2>Study Management Home</h2>
      <p>This page is for researchers only. It provides convieniant links to several study management features</p>
      <p><em>Note:</em>Studies can only be deleted by the administrator.</p>

  <div class="container">
<% include footer_doc.ejs %>
    </div>
<!-- End of Main Body -->

<!-- Bootstrap Footer, includes jQuery -->
<% include footer_bootstrap.ejs %>

<!-- Pages specific Scripts -->


<!-- Close out HTML -->
  </body>
</html>

