<% include manage_header.ejs %>
    <div class="container">
      <h1 id="pageTitle">UOW Online STM</h1>
      <h2>Create a New Study</h2>
      <form id="studyForm" class="form-group row" >
        <div class="form-group" id="studyName_DIV" >
          <label for="studyName">StudyName</label>
          <input
            type="text" class="form-control"
            id="studyName" name="studyName"
            placeholder="[YYYY][MM][DD]-[6:userID]-[6:Desc][2:sequence]"
            pattern="^([0-9]{8}[-]{1}[a-zA-Z0-9]{1,6}[-]{1}[a-zA-Z0-9]{1,12}[0-9]{1,2})"
            required>
          <small id="setSizesHelpBlock" class="form-text text-muted">
            Max:24 Characters, A-Z, a-z, 0-9, '-'' symbol only.
            <br />syntax:[YYYY][MM][DD]-[6:userID]-[12:Desc][2:sequence]
          </small>
        </div>
        <div class="form-group" id="studybackgroundColor_DIV">
            <label for="studybackgroundColor">Starting backgroundColor</label>
            <select class="form-control" id="studybackgroundColor" name="studybackgroundColor" value="">
              <option selected="selected">Black</option>
              <option>AliceBlue</option>
              <option>AntiqueWhite</option>
              <option>Aqua</option>
              <option>Aquamarine</option>
              <option>Azure</option>
              <option>Beige</option>
              <option>Bisque</option>
              <option>BlanchedAlmond</option>
              <option>Blue</option>
              <option>BlueViolet</option>
              <option>Brown</option>
              <option>Burlywood</option>
              <option>CadetBlue</option>
              <option>Chartreuse</option>
              <option>Chocolate</option>
              <option>Coral</option>
              <option>CornflowerBlue</option>
              <option>Cornsilk</option>
              <option>Crimson</option>
              <option>Cyan</option>
              <option>DarkBlue</option>
              <option>DarkCyan</option>
              <option>DarkGoldenrod</option>
              <option>DarkGray</option>
              <option>DarkGreen</option>
              <option>DarkKhaki</option>
              <option>DarkMagenta</option>
              <option>DarkOliveGreen</option>
              <option>DarkOrange</option>
              <option>DarkOrchid</option>
              <option>DarkRed</option>
              <option>DarkSalmon</option>
              <option>DarkSeaGreen</option>
              <option>DarkSlateBlue</option>
              <option>DarkSlateGray</option>
              <option>DarkTurquoise</option>
              <option>DarkViolet</option>
              <option>DeepPink</option>
              <option>DeepSkyBlue</option>
              <option>DimGray</option>
              <option>DodgerBlue</option>
              <option>FireBrick</option>
              <option>FloralWhite</option>
              <option>ForestGreen</option>
              <option>Fuchsia</option>
              <option>Gainsboro</option>
              <option>GhostWhite</option>
              <option>Gold</option>
              <option>Goldenrod</option>
              <option>Gray</option>
              <option>Green</option>
              <option>GreenYellow</option>
              <option>Honeydew</option>
              <option>HotPink</option>
              <option>IndianRed</option>
              <option>Indigo</option>
              <option>Ivory</option>
              <option>Khaki</option>
              <option>Lavender</option>
              <option>LavenderBlush</option>
              <option>LawnGreen</option>
              <option>LemonChiffon</option>
              <option>LightBlue</option>
              <option>LightCoral</option>
              <option>LightCyan</option>
              <option>LightGoldenrodYellow</option>
              <option>LightGreen</option>
              <option>LightGrey</option>
              <option>LightPink</option>
              <option>LightSalmon</option>
              <option>LightSeaGreen</option>
              <option>LightskyBlue</option>
              <option>LightSlateGray</option>
              <option>LightsteelBlue</option>
              <option>LightYellow</option>
              <option>Lime</option>
              <option>LimeGreen</option>
              <option>Linen</option>
              <option>Magenta</option>
              <option>Maroon</option>
              <option>MediumAquamarine</option>
              <option>MediumBlue</option>
              <option>MediumOrchid</option>
              <option>MediumPurple</option>
              <option>MediumSeaGreen</option>
              <option>MediumSlateBlue</option>
              <option>MediumSpringGreen</option>
              <option>MediumTurquoise</option>
              <option>MediumVioletRed</option>
              <option>MidnightBlue</option>
              <option>Mintcream</option>
              <option>MistyRose</option>
              <option>Moccasin</option>
              <option>NavajoWhite</option>
              <option>Navy</option>
              <option>Oldlace</option>
              <option>Olive</option>
              <option>OliveDrab</option>
              <option>Orange</option>
              <option>OrangeRed</option>
              <option>Orchid</option>
              <option>PaleGoldenrod</option>
              <option>PaleGreen</option>
              <option>PaleTurquoise</option>
              <option>PaleVioletRed</option>
              <option>PapayaWhip</option>
              <option>Peachpuff</option>
              <option>Peru</option>
              <option>Pink</option>
              <option>Plum</option>
              <option>PowderBlue</option>
              <option>Purple</option>
              <option>Red</option>
              <option>RosyBrown</option>
              <option>RoyalBlue</option>
              <option>SaddleBrown</option>
              <option>Salmon</option>
              <option>SandyBrown</option>
              <option>SeaGreen</option>
              <option>SeaShell</option>
              <option>Sienna</option>
              <option>Silver</option>
              <option>SkyBlue</option>
              <option>SlateBlue</option>
              <option>SlateGray</option>
              <option>Snow</option>
              <option>SpringGreen</option>
              <option>SteelBlue</option>
              <option>Tan</option>
              <option>Teal</option>
              <option>Thistle</option>
              <option>Tomato</option>
              <option>Turquoise</option>
              <option>Violet</option>
              <option>Wheat</option>
              <option>White</option>
              <option>WhiteSmoke</option>
              <option>Yellow</option>
              <option>YellowGreen</option>
            </select>
            <small id="setSizesHelpBlock" class="form-text text-muted">
              Choose from the list of Websafe Colours.
            </small>
        </div>
        <div class="form-group" id="studyTextColor_DIV">
            <label for="studyTextColor">Starting TextColor</label>
            <select class="form-control" id="studyTextColor" name="studyTextColor" value=""">
              <option>Black</option>
              <option>AliceBlue</option>
              <option>AntiqueWhite</option>
              <option>Aqua</option>
              <option>Aquamarine</option>
              <option>Azure</option>
              <option>Beige</option>
              <option>Bisque</option>
              <option>BlanchedAlmond</option>
              <option>Blue</option>
              <option>BlueViolet</option>
              <option>Brown</option>
              <option>Burlywood</option>
              <option>CadetBlue</option>
              <option>Chartreuse</option>
              <option>Chocolate</option>
              <option>Coral</option>
              <option>CornflowerBlue</option>
              <option>Cornsilk</option>
              <option>Crimson</option>
              <option>Cyan</option>
              <option>DarkBlue</option>
              <option>DarkCyan</option>
              <option>DarkGoldenrod</option>
              <option>DarkGray</option>
              <option>DarkGreen</option>
              <option>DarkKhaki</option>
              <option>DarkMagenta</option>
              <option>DarkOliveGreen</option>
              <option>DarkOrange</option>
              <option>DarkOrchid</option>
              <option>DarkRed</option>
              <option>DarkSalmon</option>
              <option>DarkSeaGreen</option>
              <option>DarkSlateBlue</option>
              <option>DarkSlateGray</option>
              <option>DarkTurquoise</option>
              <option>DarkViolet</option>
              <option>DeepPink</option>
              <option>DeepSkyBlue</option>
              <option>DimGray</option>
              <option>DodgerBlue</option>
              <option>FireBrick</option>
              <option>FloralWhite</option>
              <option>ForestGreen</option>
              <option>Fuchsia</option>
              <option>Gainsboro</option>
              <option>GhostWhite</option>
              <option>Gold</option>
              <option>Goldenrod</option>
              <option>Gray</option>
              <option>Green</option>
              <option>GreenYellow</option>
              <option>Honeydew</option>
              <option>HotPink</option>
              <option>IndianRed</option>
              <option>Indigo</option>
              <option>Ivory</option>
              <option>Khaki</option>
              <option>Lavender</option>
              <option>LavenderBlush</option>
              <option>LawnGreen</option>
              <option>LemonChiffon</option>
              <option>LightBlue</option>
              <option>LightCoral</option>
              <option>LightCyan</option>
              <option>LightGoldenrodYellow</option>
              <option>LightGreen</option>
              <option>LightGrey</option>
              <option>LightPink</option>
              <option>LightSalmon</option>
              <option>LightSeaGreen</option>
              <option>LightskyBlue</option>
              <option>LightSlateGray</option>
              <option>LightsteelBlue</option>
              <option>LightYellow</option>
              <option>Lime</option>
              <option>LimeGreen</option>
              <option>Linen</option>
              <option>Magenta</option>
              <option>Maroon</option>
              <option>MediumAquamarine</option>
              <option>MediumBlue</option>
              <option>MediumOrchid</option>
              <option>MediumPurple</option>
              <option>MediumSeaGreen</option>
              <option>MediumSlateBlue</option>
              <option>MediumSpringGreen</option>
              <option>MediumTurquoise</option>
              <option>MediumVioletRed</option>
              <option>MidnightBlue</option>
              <option>Mintcream</option>
              <option>MistyRose</option>
              <option>Moccasin</option>
              <option>NavajoWhite</option>
              <option>Navy</option>
              <option>Oldlace</option>
              <option>Olive</option>
              <option>OliveDrab</option>
              <option>Orange</option>
              <option>OrangeRed</option>
              <option>Orchid</option>
              <option>PaleGoldenrod</option>
              <option>PaleGreen</option>
              <option>PaleTurquoise</option>
              <option>PaleVioletRed</option>
              <option>PapayaWhip</option>
              <option>Peachpuff</option>
              <option>Peru</option>
              <option>Pink</option>
              <option>Plum</option>
              <option>PowderBlue</option>
              <option>Purple</option>
              <option>Red</option>
              <option>RosyBrown</option>
              <option>RoyalBlue</option>
              <option>SaddleBrown</option>
              <option>Salmon</option>
              <option>SandyBrown</option>
              <option>SeaGreen</option>
              <option>SeaShell</option>
              <option>Sienna</option>
              <option>Silver</option>
              <option>SkyBlue</option>
              <option>SlateBlue</option>
              <option>SlateGray</option>
              <option>Snow</option>
              <option>SpringGreen</option>
              <option>SteelBlue</option>
              <option>Tan</option>
              <option>Teal</option>
              <option>Thistle</option>
              <option>Tomato</option>
              <option>Turquoise</option>
              <option>Violet</option>
              <option>Wheat</option>
              <option selected="selected">White</option>
              <option>WhiteSmoke</option>
              <option>Yellow</option>
              <option>YellowGreen</option>
            </select>
            <small id="studyTextColorHelpBlock" class="form-text text-muted">
              Choose from the list of Websafe Colours.
            </small>
        </div>

        <div class="form-group"  id="pickCards_DIV">
          <label>Pick Cards (REMEMBER: for each participant)</label>
          <table id="deckConfigTable" class="table table-striped w-auto">
            <thead>
              <tr>
                <th class="th-sm">Order</th>
                <th class="th-lg">Stimulus File (deckName)</th>
                <th class="th-lg">SetSize Array<br />(e.g. 3,3,3)</th>
                <th class="th-lg">Inside Shuffle<br />(e.g. cards within a set)</th>
                <th class="th-lg">Cross Shuffle<br />(e.g. cards across any set)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input type="text" class="form-control" name="order_0" value="0" readonly>
                </td>
                <td>
                  <input type="text" class="form-control" name="deckName_0" required>
                </td>
                <td>
                  <input type="text" class="form-control" name="setSizes_0" required>
                </td>
                <td>
                  <input type="text" class="form-control" name="insideShuffle_0" required>
                </td>
                <td>
                  <input type="text" class="form-control" name="crossShuffle_0" required>
                </td>
              </tr>
            </tbody>
          </table>
          <div>
            <button type="button" class="btn btn-primary" id="addRow">Add Row</button>
          </div>
        </div>  
        <div class="form-group" id="refreshMS_DIV">
          <label for="refreshRateMS">refreshRateMS</label>
          <input
            type="text" class="form-control"
            id="refreshRateMS" name="refreshRateMS"
            pattern="^([0-9]{1,5})$"
            placeholder="required"
            required>
          <small id="refreshRateMS" class="form-text text-muted">
            Numeral (integer) in milliseconds, up to 5 digits
          </small>
        </div>
        <div class="form-group" id="consentCopy_DIV">
          <label for="consentCopy">consentCopy:</label>
          <textarea
            name="consentCopy" id="consentCopy"
            class="form-control" rows="5"
            value="" required></textarea>
          <small id="setSizesHelpBlock" class="form-text text-muted">
            <small id="setSizesHelpBlock" class="form-text text-muted">
              <br />Basic html tags are permitted:
              <br />'h3', 'h4', 'h5', 'h6', 'blockquote', 'p', 'a', 'ul', 'ol', 'nl', 'li', 'b', 'i', 'strong', 'em', 'strike', 'code', 'hr', 'br', 'div','table', 'thead', 'caption', 'tbody', 'tr', 'th', 'td'
            </small>
          </small>
        </div>
        <div class="form-group" id="instructionCopy_DIV">
          <label for="instructionCopy">instructionCopy:</label>
          <textarea
            name="instructionCopy" id="instructionCopy"
            class="form-control" rows="5"
            value="" required></textarea>
          <small id="setSizesHelpBlock" class="form-text text-muted">
            <br />Basic html tags are permitted:
            <br />'h3', 'h4', 'h5', 'h6', 'blockquote', 'p', 'a', 'ul', 'ol', 'nl', 'li', 'b', 'i', 'strong', 'em', 'strike', 'code', 'hr', 'br', 'div','table', 'thead', 'caption', 'tbody', 'tr', 'th', 'td'
          </small>
        </div>
        <div class="form-group" id="completionCode_DIV">
          <label for="completionCode">completionCode</label>
          <input
            type="text" class="form-control"
            id="completionCode" name="completionCode"
            required>
          <small id="setSizesHelpBlock" class="form-text text-muted">
            Prolific Completion Code
          </small>
        </div>
      </form>
      <div class="msgResult-error" id="msgResult" style="display:none"></div>
      <div><button type="button" class="btn btn-primary" id="studyCreate">Create Study</button></div>
<% include footer_doc.ejs %>
<!-- End of Main Body -->

<!-- Bootstrap Footer, includes jQuery -->
<% include footer_bootstrap.ejs %>

<!-- Pages specific Scripts -->
    </div>
    <script src="/<%= rPath %>/static/studyNew.js"></script>

<!-- Close out HTML -->
  </body>
</html>

